@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@media screen and (max-width:700px) {
    .brand{
        margin-top: 0px !important;
    }
    .mobiusLink{
        display: none;
    }
}

.mobiusLink {
    text-decoration: none;
    color:black;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    font-weight: 400;
}
.brand {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin:0.9rem auto;
    margin-top: 1rem !important;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 3.1rem;
}
.separator {
    opacity: 0.8;
    background-color: #20004b;
    height: 1px;
    margin: 0.9rem 0.30rem;
}
.mobiusLink:hover {
    color: #ad26ff;
}
.logo {
    width: 16%;
    height: 16%;
    min-width: 10rem;
}

body {
    font-family: "Mulish", sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 1rem 1rem;
    margin-top: 1.3rem ;
    color:#20004b;


}
@media screen and (min-width: 1000px) {
    body{
        margin: 1rem 19.5%;
        
    }

}

span {
    background-color: #ffde00;
    border-radius: 1rem;
    padding: 0 0.25rem;
    transition: 0.2s;
    color: #20004b;

}

span[class*="hoverable"]:hover {
    background-color: #ad26ff;
    cursor: pointer;
    color: #fff;
}

footer {
    display: flex;
    color: #fff;
    flex-direction: row;
    background-image: url("https://static.tildacdn.com/tild3562-6634-4263-b866-656231616432/footer.png");
    background-position: 0.000% 71.666%;
    background-size: 100.000%;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 1rem;
    margin: auto 1rem;
    justify-content: center;
}

.card{
    background-color: #20004b;
    border-radius: 20px;
    color: white;
    
    padding: 2rem 3rem;
    background-image: linear-gradient(0.846turn, rgba(94, 8, 144, 1) 0%, rgba(49, 6, 74, 1) 100%);

}
.card > p {
    font-size: 18px;
}