h1{
    font-size: 50px;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 900px;
    line-height: 5rem;
    float: left;
}

h2{
    color: white;
    font-size:25px;
    font-family: 'Mulish', Arial, sans-serif;
}

p{
    color: white;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: normal;
    font-size: 21px;
}

.test{
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 100px;
    border-radius: 50px;
    font-family: 'Mulish', Arial, sans-serif;
    background-position: center center;
    font-size: 30px;
}

.test-text{
    text-decoration:none;
}

span{
    background-color: yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.intelect{
    background-color: #20004b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    display: flex;
    width: 400px;
    height: auto;
    padding: 15px;
}

.logo_img{
    width: 500px;
}