h1{
    font-size: 44px;
    font-weight: 900;
    margin-top: 0.5rem;
    line-height: 4rem;
}

h2{
    color: white;
    font-size:25px;

}

h3{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

p{
    font-weight: normal;
    font-size: 21px;
}

.leftSideWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    align-self: flex-start;
}
.contentWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;

}

@media screen and (max-width:600px) {
    .contentWrapper {
        flex-direction: column;
        margin: 0 1rem;
    }
    h1 {
        font-size: 33px;
        line-height: 3rem;
    }
    .card {
        max-height: unset !important;
    }
}

.startTest{
    color:black;
    background-color: #ffde00;
    display: flex;
    width: max-content;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 0.2s;
    text-decoration: none;
    font-size: larger;

}

.startTest:hover{
    color: white;

    background-color: #ad26ff;
}


.card{
    background-color: #20004b;
    border-radius: 20px;
    color: white;
    max-width: 25rem;
    max-height: 23rem;
    
    padding: 2rem 3rem;
    background-image: linear-gradient(0.846turn, rgba(94, 8, 144, 1) 0%, rgba(49, 6, 74, 1) 100%);

}
.card > p {
    font-size: 18px;
}

.instructions {
    align-self: flex-start;
    font-size: larger;
}