.metric {
    display: flex;
    gap:1rem;
    flex-direction: column;
    width: 100%;
    align-content: space-between;

    
}
.professions {
    align-self: flex-start;
}
.mainIntellect, .mainPersonality {
    display: flex;
    flex-direction: row;
    max-height: 20rem;
    flex-wrap: wrap;
    justify-content: space-between

}
h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.intellect, .personality{
    font-size: 25px;
}
.intellects, .personalities {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.metricWrapper {
    align-content: space-between;
    flex-wrap: wrap;
}
.toMain {
    background-color: #ffde00;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #20004b;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.toMain:hover {
    background-color: #ad26ff;
    color:#fff;

}

span[class*="hoverable"]{
    font-weight: 700;
}
