body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}
.question {
    color: #20004b;
    font-size: 40px;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: start;
    
}
.answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 1rem;
}
button {
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 0.75rem;
    cursor: pointer;
    background-color: #ad26ff;
    color: #fff;
}
button:hover {
    background-color: #ffde00;
    color:#5e0890;
    transition: 0.1s;
}
.back {
    margin-top: 2rem;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 0;
    padding: 0;
    background-color: #5e0890;

}