body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 1rem 1rem;

}
@media screen and (min-width: 600px) {
    body{
        margin: 1rem 20%;
    }
    .question {
        font-size: 40px !important;
        height: 10rem !important;
    }
}
.question {
    color: #20004b;
    font-size: 22px;
    font-weight: 900;
    text-align: start;
    height: 8rem;
    text-align: center;
    
}
.answers {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    gap: 2rem;
    color: #20004b;
    font-size: 20px;
    font-weight: 700;
    padding: 0%;
}
li {
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 0.75rem;
    cursor: pointer;
    list-style: none;
}
li:hover {
    background-color: #ffde00;
    color:#5e0890;
    transition: 0.1s;
}
.backIcon {
    min-width: 2rem;
    line-height: 0;
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    height: 2rem;
}
.back {
    display: flex;
    align-items: center;
    align-content: center;
}
.progressBar {
    width: 100%;
    background-color: #ad26ff;
    height: 1rem;
    border-radius: 2rem;
}
.fill {
    height: 100%;
    background-color: #ffde00;
    border-radius: 2rem;
}
.percent {
    color: #20004b;
    font-size: 20px;
    font-weight: 700;
}