body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    margin: 0;
    /* margin-left: 15vw;
    margin-right: 15vw;
    max-width: 80vw; */
}
.question {
    color: #20004b;
    font-size: 40px;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    text-align: start;
    
}
.answers {
    display: flex;
    flex-direction: column;
    align-items: start    ;
    align-self: flex-start;
    gap: 2rem;
    color: #20004b;
    font-size: 20px;
    font-family: 'Mulish', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}
li {
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 0.75rem;
    cursor: pointer;
    list-style: none;
}
li:hover {
    background-color: #ffde00;
    color:#5e0890;
    transition: 0.1s;
}
.backIcon {
    min-width: 2rem;
    line-height: 0;
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.back {
    display: flex;
    align-items: center;
    align-content: center;
}
.progressBar {
    width: 100%;
    background-color: #ad26ff;
    height: 1rem;
    border-radius: 2rem;
}
.fill {
    height: 100%;
    background-color: #ffde00;
    border-radius: 2rem;
}
.percent {
    color: #20004b;
    font-size: 20px;
    font-family: 'Mulish', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}