<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/header.css">
    <link rel="shortcut icon" href="static/img/favicon.svg" type="image/svg">
    <title>Мобиус Класс — образовательные центры для школьников</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block header %}
    <header>
        <div class="brand">
          <a href="https://mobiusclass.ru" class="logo">
            <img src="static/img/logo.png" width="100%" height="100%" alt="">
          </a>
          <div class="brandSNS">
            <a href="https://t.me/mobiusclass_m"><img src="https://static.tildacdn.com/tild3062-6161-4265-a331-623566623564/Subtract.svg" alt=""></a>
            <a href="https://vk.com/mobiusclass"><img src="https://static.tildacdn.com/tild6136-6630-4939-b562-303537353236/VK.svg" alt=""></a>
          </div>
        </div>
        <div class="separator"></div>
        {% block links %}
        <nav>
          <a href="https://mobiusclass.ru/liceum" class="mobiusLink">Лицей 9/11</a>
          <a href="https://mobiusclass.ru/ege" class="mobiusLink">ЕГЭ</a>
          <a href="https://mobiusclass.ru/oge" class="mobiusLink">ОГЭ</a>
          <a href="https://mobiusclass.ru/shkolnyepredmety" class="mobiusLink">Школьные предметы</a>
          <a href="https://mobiusclass.ru/prof" class="mobiusLink">Профориентация</a>
          <a href="https://mobiusclass.ru/#contacts" class="mobiusLink">Контакты</a>
          <a href="https://fr.mobiusclass.ru" class="mobiusLink">Франшиза</a>
        </nav>
        {% endblock %}
        </div>
      </header>
    {% endblock %}
    {% block content %}{% endblock %}
      <!-- <footer>
        <div class="city">
          <h2>Выбрать город</h2>
          <p>ООО "Мобиус Класс"</p>
        </div>
        <div class="schedule">
          <h2>Режим работы</h2>
          <ul>
            <li>пн - пт с 8:00 до 20:00</li>
            <li>сб - с 9:30 до 18:00</li>
            <li>вс - выходной</li>
          </ul>
          <p class="email">
            mobiusclass@gmail.com
          </p>
        </div>
        <div class="legal"></div>
        <p>
          Государственная лицензия № 82_1649 от 23.08.2021
        </p>
        <a href="">Политика</a>
        <a href="">Договор-оферта</a>
      </footer> -->
  </body>
</html>