{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="./static/css/test.css">
{% endblock %}

{% block links %}
{% endblock %}

{% block content%}
    <!-- <h1 class="question"></h1> -->
    <div class="header">
        {% if statementID > 1 %}
            <a class="back" href="/back">
        {% else %}
            <a class="back" href="/">
        {% endif %}
                <img class="backIcon" src="../static/img/back.svg" alt="">
            </a>
        
        
        

        <div class="progressBar"><div class="fill" style="width:{{percent}}%;"></div></div>
        <div class="percent">{{percent}}%</div>
    </div>
    <h1 class="question">{{question}}</h1>

        <ul class="answers">
            <li value="-2" class="answer">Не согласен</li>
            <li value="-1" class="answer">Скорее не согласен</li>
            <li value="0" class="answer">Не знаю</li>
            <li value="1" class="answer">Скорее согласен</li>
            <li value="2" class="answer">Согласен</li>
        </ul>


    <script src="./static/js/test.js"></script>

{% endblock %}