<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/test.css">
    <link rel="shortcut icon" href="static/img/favicon.svg" type="image/svg">
    <title>Подбор профессии по типу личности</title>
</head>
<body>
    <h1 class="question">{{question}}</h1>
    <div class="answers">
        <button value="-2" class="answer">Не согласен</button>
        <button value="-1" class="answer">Скорее не согласен</button>
        <button value="0" class="answer">Не знаю</button>
        <button value="1" class="answer">Скорее согласен</button>
        <button value="2" class="answer">Согласен</button>
    </div>
    {% if statementID > 1 %}
    <button class="back">←</button>
    {% endif %}
    <script src="./static/js/test.js"></script>
</body>
</html>