h1{
    font-size: 50px;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    width: 1000px;
    line-height: 5rem;

}
p{
    color: white;
    font-size:25px;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
}
.test{
    margin: 0 auto;
    display: block;
    width: 400px;
    height: 100px;
    font-size: 50px;
    border-radius: 30%;
    font-family: 'Mulish', Arial, sans-serif;
    font-weight: 900;
    background-position: center center;
}
span{
    background-color: yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}
.div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}
.intelect{
    background-color: #20004b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    display: flex;
    flex-direction:;
}